<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tp2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Tp2">
        <activity
            android:name=".VerPacientes"
            android:exported="false" />
        <!-- Actividad principal, se lanza al iniciar la aplicación -->
        <activity
            android:name=".Menu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Actividad de login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" /> <!-- Actividad de Login2 -->
        <activity
            android:name=".Login2"
            android:exported="true" /> <!-- Actividad para ver pacientes -->
        <activity
            android:name=".NuevoActivity2"
            android:exported="true" />
    </application>

</manifest>